* {
  text-align: center;
}

h1 {
  margin-top: 30px;
}

ul {
  list-style-type: decimal;
  padding: 15px;

  .userLi {
    margin: 30px;
    text-align: start;
    cursor: pointer;
    border-bottom: 1px solid rgb(143, 143, 143);
    border-top: 1px solid rgb(143, 143, 143);
    padding: 10px 30px;

    &:hover {
      color: rgb(97, 83, 226);
    }
  }
}
